</br>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Manager/Index">Home</a></li>
    <li class="breadcrumb-item"><a href="/Manager/Item">Item</a></li>
    <li class="breadcrumb-item active">add</li>
</ol>
<hr class="my-4">

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Name" id="Name" value="">
    </div>
    <fieldset class="form-group">
        <legend class="mt-4">Это экзотичное блюдо</legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="IsExotic" id="optionsRadios1" value="True" checked="">
            <label class="form-check-label" for="optionsRadios1">
                True
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="IsExotic" id="optionsRadios2" value="False">
            <label class="form-check-label" for="optionsRadios2">
                False
            </label>
        </div>
    </fieldset>

    <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4">Описание</label>
        <textarea class="form-control" name="Descryption" id="exampleTextarea" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="formFile" class="form-label mt-4">Картинка</label>
        <input class="form-control" type="file" name="Picture" id="formFile">
    </div>

    <div class="form-group">
        <label for="exampleSelect1" class="form-label mt-4">Example select</label>
        <select class="form-select" name="Type" value="" id="Type">
            <option>Drink</option>
            <option>Soup</option>
            <option>Meal</option>
            <option>Dessert</option>
        </select>
    </div>

    <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Цена</label>
        <input type="text" class="form-control" placeholder="Price" name="Price" value="" id="Price">
    </div>
    </br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Добавить</button>
</form>