@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

</br>
<div>
<a href="/Manager/Item">
<button type="button" class="btn btn-secondary">Secondary</button>
</a>
<a href="/Manager/User">
<button type="button" class="btn btn-secondary">Secondary</button>
</a>
<button type="button" class="btn btn-secondary">Secondary</button>
</div>