@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "О нас";
}

</br>
<div class="rs-page">
    <div class="container rs-page-inner">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInUp nekoAnim-visible" data-nekoanim="fadeInUp" data-nekodelay="50" style="animation-delay: 50ms;">Кафе-ресторан «Съяданак»</h1>
                <div class="description">Место, где начинаются счастливые истории!</div>
            </div>
            <div class="col-xs-12 clearfix about-main">
                <p>В Парке ВДНХ есть чудное место. Оно скрыто от глаз и суеты. Затеряно среди величавых и молчаливых деревьев. Спрятано у голубого озера, отражающего небо.</p>
                <p>Это место ждет Вас. Его найдет лишь тот, кто желает окунуться в тишину и покой, насладиться красотой и уютом. Здесь нет спешки, проблем и работы. Есть только нежный шелест листьев и тихое щебетание птиц.</p>
				<p>В этом особенном месте мы создали ресторан «Съяданак», чтобы Вы в полной мере вкусили радости отдыха и комфортного безделья. В него влюбляются все гости без исключения. И эта любовь взаимна.</p>
                <p>Мы любим и ценим гостей. Всегда с радостью готовы организовать мероприятие по любому случаю – от фуршета до банкета в честь дня рождения, от тематической вечеринки до камерной свадьбы, от пикника до корпоратива.</p>
                <p>Организуем события любой сложности и сделаем все, чтобы оно запомнилось навсегда. К нам люди приезжают отдыхать и наслаждаться жизнью.</p>
                <p>В нашем ресторане грамотно продумана каждая деталь интерьера:</p>
                <ul>
                    <li>шикарные панорамные окна, открывающие потрясающий вид,</li>
                    <li>настоящий самобытный камин с живым эффектным пламенем,</li>
                    <li>уютные кресла и мягкие подушки, призывающие к отдыху и релаксу,</li>
                    <li>природные и натуральные материалы, создающие особую атмосферу.</li>
                </ul>
                <p>Каждая строчка меню – это домашние, но изысканные блюда с авторской изюминкой. А также восхитительные оригинальные напитки, созданные, чтобы радовать и приятно удивлять самых взыскательных гурманов. Весь наш квалифицированный, внимательный, улыбчивый и услужливый персонал старается ради одного – дать Вам отдохнуть.</p>
                <p>Приходите к нам, чтобы полениться, расслабиться, поговорить и посмеяться с близкими за вкусной едой и великолепными напитками. Вкусите от души удовольствие безделья. Мы всегда рады нашим гостям!</p>

            </div>

        </div>
    </div>
</div>

                <div class="rs-features index-page">
			<div class="container">
									<div class="row">
						<div class="col-xs-12">
							<h2 class="text-center section-title nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInUp nekoAnim-visible" data-nekoanim="fadeInUp" data-nekodelay="100" style="animation-delay: 100ms;">
								<span class="section-title--text">Причины посетить наш ресторан</span>
							</h2>
						</div>
					</div>					
								<div class="row">
															<div class="col-xs-12 col-sm-6 col-md-4 feature-block">
									<div class="feature-item nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInDown nekoAnim-visible" data-nekoanim="fadeInDown" data-nekodelay="400" style="animation-delay: 400ms;">
										<div class="feature-item--icon">
											<img class="" src="https://vselen-vdnh.ru/wp-content/uploads/2021/04/icon4.png" alt="feature_picture">
										</div>
										<h4>Авторская кухня с «фишками» </h4>					
										<div>Уникальное использование продуктов, фирменная подача и оригинальные соусы </div>
									</div>
								</div>	
															<div class="col-xs-12 col-sm-6 col-md-4 feature-block">
									<div class="feature-item nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInDown nekoAnim-visible" data-nekoanim="fadeInDown" data-nekodelay="400" style="animation-delay: 400ms;">
										<div class="feature-item--icon">
											<img class="" src="https://vselen-vdnh.ru/wp-content/uploads/2021/04/icon5.png" alt="feature_picture">
										</div>
										<h4>Ароматные согревающие напитки</h4>					
										<div>Травяные и листовые чаи в ассортименте с комплиментом в виде медовых сот </div>
									</div>
								</div>	
															<div class="col-xs-12 col-sm-6 col-md-4 feature-block">
									<div class="feature-item nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInDown nekoAnim-visible" data-nekoanim="fadeInDown" data-nekodelay="400" style="animation-delay: 400ms;">
										<div class="feature-item--icon">
											<img class="" src="https://vselen-vdnh.ru/wp-content/uploads/2021/04/icon6.png" alt="feature_picture">
										</div>
										<h4>Интерактивный индивидуальный подход </h4>					
										<div>Возможность выбора технологии приготовления – жар, пар, мангал или хоспер</div>
									</div>
								</div>	
								
								</div>	
			</div>
		</div>