@{
    ViewData["Title"] = "Контакты";
}

</br>
</br>
<h2 style="text-align: center; font-size: 39.534px; line-height: 46.722px;" data-fontsize="44" data-lineheight="52">
    Витебск, Большая Советская ул., д. 20<br>
    +375 29 022-50-50<br>
    siadanak@gmail.com
</h2>
</br>
</br>