@{
    ViewData["Title"] = "Home Page";
}




 <div class="con">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-6 fw-bold">Наш адресс: Витебск, Большая Советская ул., д. 20</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Пока только в Витебске, но скоро доберемся и до твоего города.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="https://yandex.by/maps/org/guru/131055677495/?ll=32.053536%2C54.782110&mode=search&sctx=ZAAAAAgBEAAaKAoSCQ4tsp3vMz5AEaIm%2BnyUl0tAEhIJZVJDG4CN7z8R2PULdsO20z8iBgABAgMEBSgKOABA%2F6YNSABqAnVhnQHNzEw9oAEAqAEAvQEGK3brwgEYt%2BCbnOgDpZ6lv4IHxNyYupsCkKbX3c4G6gEA8gEA%2BAEAggIQ0YDQtdGB0YLQvtGA0LDQvYoCCTE4NDEwNjM5NJICAJoCDGRlc2t0b3AtbWFwcw%3D%3D&sll=32.053536%2C54.782110&sspn=0.012172%2C0.003841&text=htcnjhfy&z=17">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Посмотреть на карте</button>
                </a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="/map.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="900" height="600" loading="lazy">
            </div>
        </div>
    </div>
            
  </div>
