@{
    ViewData["Title"] = "Главная";
}

<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/index1.jpg" />

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Крафтовая мебель</h1>
                        <p>Наш интерьер прямиком из ламповых вестернов. Не забудь взять шляпу, Ковбой.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/index2.jpg" />

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Вместо официантов - актеры</h1>
                        <p>Полное погружение в атмосфреру дикого запада, когда люди ели на завтрак ростбиф запивая бренди, а не персиковый смузи с безлактозными крекерами.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/index3.jpg" />

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Имеется богатый выбор выпивки</h1>
                        <p>Не вздумай приходить с матерью, так как вино мы не подаем.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
       
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Знакомься, наш состав<span class="text-muted">   (Бармен)</span></h2>
                <p class="lead">Роннери Хавк, Простой бармен, но запомнит тебя ели ты ему не угодишь.</p>
            </div>
            <div class="col-md-5">
                <img src="~/barmen.jpg"/>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Самое важное<span class="text-muted">   (Поварской состав)</span></h2>
                <p class="lead">Наши повара удовлетворят любые вкусовые предпочтения под командованием Барри Пеппера. </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/cooker1.jpg"/>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Особые правила <span class="text-muted">(!)</span></h2>
                <p class="lead">Входя в помещения ты соглашаешься со всеми правилами:<br>
                    - Без телефона.  Положи свой девайс в шкафчик.<br/>
                    - Получай удовольствие.<br>
                </p>
            </div>
            <div class="col-md-5">
                <img src="~/phone.jpg" />
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
    <!-- FOOTER -->
</main>



 <div class="con">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-6 fw-bold">Наш адресс: Витебск, Большая Советская ул., д. 20</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Пока только в Витебске, но скоро доберемся и до твоего города.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="https://yandex.by/maps/org/guru/131055677495/?ll=32.053536%2C54.782110&mode=search&sctx=ZAAAAAgBEAAaKAoSCQ4tsp3vMz5AEaIm%2BnyUl0tAEhIJZVJDG4CN7z8R2PULdsO20z8iBgABAgMEBSgKOABA%2F6YNSABqAnVhnQHNzEw9oAEAqAEAvQEGK3brwgEYt%2BCbnOgDpZ6lv4IHxNyYupsCkKbX3c4G6gEA8gEA%2BAEAggIQ0YDQtdGB0YLQvtGA0LDQvYoCCTE4NDEwNjM5NJICAJoCDGRlc2t0b3AtbWFwcw%3D%3D&sll=32.053536%2C54.782110&sspn=0.012172%2C0.003841&text=htcnjhfy&z=17">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Посмотреть на карте</button>
                </a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="/map.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="900" height="600" loading="lazy">
            </div>
        </div>
    </div>
            
  </div>
