@{
    ViewData["Title"] = "Home Page";
}
<style>

    </style>
</style>

<div class="text-center">
    <h1 class="display-4">Main</h1>
    <h3>@ViewBag.message</h3>
</div>

 <div class="con">

            
  </div>
