@page
@using DataBase.Entity;
@using Siadanok.Services

<form action="/Home/Register" method="post">
        <table>
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="FirstName" value=""/> </td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td><input type="text" name="SecondName" value=""/></td>
                </tr>
                <tr>
                    <td>Номер:</td>
                    <td><input type="text" name="Number" value=""/></td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td><input type="text" name="Password" value=""/></td>
                </tr>
                <tr><td><input type="submit"/> </td><td></td></tr>
            </table>
        </form>