
</br>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
    <li class="breadcrumb-item"><a href="/Admin/Manager">Manager</a></li>
    <li class="breadcrumb-item active">ban</li>
</ol>
<hr class="my-4">

<form method="post" asp-controller="Admin" asp-action="BanManager">
    <input type="hidden" id="Id" name="UserId" value="@ViewBag.managerId">

    <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4">Причина бана</label>
        <textarea class="form-control" name="Reason" id="exampleTextarea" rows="3"></textarea>
    </div>
    </br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Забанить</button>
</form>