@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

</br>
<div>
<a href="/Admin/Item">
<button type="button" class="btn btn-secondary">Товары</button>
</a>
<a href="/Admin/User">
<button type="button" class="btn btn-secondary">Пользователи</button>
</a>
<a href="/Admin/Manager">
<button type="button" class="btn btn-secondary">Менеджеры</button>
</a>
<a href="/Admin/Role">
<button type="button" class="btn btn-secondary">Роли</button>
</a>
</div>
<hr class="my-4">